.fotter{
    background-color: rgb(8, 8, 8);
    color: rgba(240, 248, 255, 0.421);
    display: grid;
    place-items: center;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    position: relative;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 130px;
    margin: 0 !important;
    font-family: 'Oswald', sans-serif;
}

td{
    padding: 10px;
    font-size: small;
}

.main-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    list-style: none;
}

.main-icon .icons{
    padding: 15px;
    font-size: large;
    }

