.row{
    background-color: rgb(248, 245, 245);
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 245, 245);
}

#player-detail{
        width: 60%;
        color: rgb(12, 12, 12);
        /* background-color: hsl(0, 12%, 92%); */
        margin-left: 35%;
        position: sticky;
    }

#live-score{
    width: 20%;
    display: grid;
}

#read-list{
    width: 25%;
    color: rgb(78, 77, 77);
    background-color: rgb(244, 242, 242);
    margin-top: 45px;
    margin-left: 50px;
    position: absolute;
}

p{
    color: rgba(100, 100, 223, 0.832);
}

#Ppic{
    height: 50vh !important;
    width: 70%;
}

iframe{
    margin: 5px;
}
.teamName{
    margin: 1px 0;
    color: #6b6b6b;
}
.matchTitle{
    color: black !important;
    font-weight: 500 !important;
    margin: 10px 0;
}